body {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-rated-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.top-rated-list li {
  cursor: pointer;
}
.top-rated-list img {
  width: 100%;
}
