/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: "Pretendard-Regular";
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
}
/* hero */
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 450px;
  background: #000;
}
.hero-text {
  flex: 1 0 auto;
  padding-left: 60px;
}
.hero h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 900;
  background: -webkit-linear-gradient(45deg, #2c73d2, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero form {
  position: relative;
  width: 75%;
}
.search-input {
  width: 100%;
  height: 50px;
  padding: 0.1rem 3rem 0.1rem 1.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2rem;
  border: double 1px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#000, #000),
    linear-gradient(324deg, #00dbad, #2c73d2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-btn span {
  font-size: 30px;
  color: #00dbad;
}
.hero-img {
  width: 60%;
  height: 100%;
  background: right / cover
    url(https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80)
    no-repeat #000;
  box-shadow: 20px 11px 50px 20px black inset, -20px -16px 50px 20px black inset;
  filter: blur(1px);
}
/* 언어 버튼 */
.lang-btn {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: #00ff95;
  z-index: 9;
  border: 0;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;
}
.lang-btn:hover {
  transform: scale(1.1);
}
/* main */
main {
  background: #111;
}
main .inner {
  padding: 100px 60px;
}
.movie-list-swiper {
  margin-bottom: 90px;
}
.movie-list-swiper li {
  cursor: pointer;
}
.movie-list-swiper .poster-img {
  padding-top: 140%;
}
.movie-list-swiper .main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}
.movie-list-swiper .main-info h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}
.movie-list-swiper .main-info p {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #808080;
}
.movie-list-swiper .main-info span {
  margin-top: 3px;
}
.movie-list-swiper .main-info .fa-star {
  font-size: 0.8rem;
}
.swiper-button-next {
  top: 17px;
}
.swiper-button-prev {
  top: 17px;
  left: calc(100% - 80px);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.3rem;
  color: #00ff95;
}

/* searched movie section */
.searchedMovieSwiper {
  display: none;
  border-bottom: 1px solid #51b0f0;
  padding-bottom: 90px;
}
.searchedMovieSwiper .swiper-button-prev::after,
.searchedMovieSwiper .swiper-button-next::after {
  color: #51b0f0;
}

/* modal */
body.modal-active {
  overflow: hidden;
}
.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: translate(-50%, -50%);
  background: #fbfbfb;
  border-radius: 5px;
}
.btn-close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.btn-close-modal span {
  opacity: 0.3;
  transition: 0.5s;
}
.btn-close-modal:hover span {
  opacity: 1;
}
.modal img {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modal-text {
  padding: 1.5rem;
  box-sizing: border-box;
}
.modal-text h3 {
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid #e3e3e3;
  word-break: keep-all;
}
.modal-text span {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 0.85rem;
  color: #777;
}
.modal-text > div {
  height: calc(100% - 100px);
  overflow-y: auto;
}
.modal-text p {
  padding: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
  word-break: keep-all;
}

@media (max-width: 992px) {
  .modal {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .modal {
    width: 90%;
  }
  .modal-text h3 {
    font-size: 1rem;
  }
  .modal-text p {
    font-size: 0.875rem;
  }
}
